<h1>{{title}}</h1>
<div class="container">
  <div class="content-section implementation">
    <div class="card">
      <p-table [value]="vacancies">
        <ng-template pTemplate="header">
          <tr>
            <th>Function title</th>
            <th>Date posted</th>
            <th>Vacancy manager</th>
            <th>Applicants</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacancy>
          <tr>
            <td>{{vacancy.functionTitle}}</td>
            <td>{{vacancy.createdOn}}</td>
            <td>{{vacancy.createdBy}}</td>
            <td>Applicants</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
