

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#row{
    
}

#slider{
    display: flex;
    flex-direction: row;
}

#requiredYearsOfExperiencelabel{
    flex: 1 100px;
}

#requiredYearsOfExperience{
    flex: 7;
}