<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-nav">
    <li class="nav-item">
      <a routerLink="" routerLinkActive="active" class="nav-link">Inetum-RealJobs</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLoggedIn()" routerLink="login" routerLinkActive="active" class="nav-link">Log in now</a>
      <button (click)="logout()" *ngIf="isLoggedIn()" routerLink="" routerLinkActive="active" class="nav-link">Log out</button>
    </li>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
