<form (ngSubmit)="login()" [formGroup]="loginForm" id="loginForm">
  <div class="form-group">
    <label>Email</label>
    <input [formControlName]="'email'" type="text"/>
    <div *ngIf="(email.invalid && (email.dirty || email.touched))" class="alert">
      <div class="error-message" *ngIf="email.errors?.['required']">
        Email is required
      </div>
    </div>
    <div>
      <label>Password</label>
      <input [formControlName]="'password'" type="password"/>
      <div *ngIf=" (password.invalid && (password.dirty || password.touched))" class="alert">
        <div class="error-message" *ngIf="password.errors?.['required']">
          Password is required
        </div>
      </div>
    </div>
    <p>
      <button [disabled]="loginForm.invalid" type="submit">Submit</button>
    </p>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </div>
  <div>
    <div class="error-message" *ngIf="badCredentials">
      Bad credentials
    </div>
  </div>

</form>
