
    <h2>Filter Vacancies</h2>
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <input type="text" pInputText [(ngModel)]="filter.functionTitle" placeholder="Function Title">         
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
                <input type="text" pInputText [(ngModel)]="filter.contractType" placeholder="Contract Type">         
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-flag-fill"></i></span>
                <input type="text" pInputText [(ngModel)]="filter.country" placeholder="Country">         
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span>
                <input type="text" pInputText [(ngModel)]="filter.industry" placeholder="Industry">         
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText [(ngModel)]="filter.requiredYearsOfExperience" placeholder="Max Years Of Experience">         
            </div>
            

        </div>

    </div>
    <button pButton type="button" label="Submit" (click)="onSubmit()"></button>


    <h2>Vacancies</h2>

    <p-table [value]="vacancies$ | async" styleClass="p-datatable-striped" responsiveLayout="scroll">    <ng-template pTemplate="header">
        <tr>
            <th>Function Title</th>
            <th>Contract Type</th>
            <th>City</th>
            <th>Offer</th>
            <th>Company</th>
            <th>Posting Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vacancy>
        <tr>
            <td>{{ vacancy.functionTitle}}</td>
            <td>{{ vacancy.contractType}}</td>
            <td>{{ vacancy.city}}</td>
            <td>{{ vacancy.offer}}</td>
            <td>{{ vacancy.companyName}}</td>
            <td>{{ vacancy.postingDate}}</td>
        </tr>
    </ng-template>
</p-table>